.modal{
    inline-size: min(30rem , 100% - 0.3rem);
    margin-inline: auto;
    margin-block-start: 20dvh;
    border: none;
    border-radius: 0.5rem;

    >header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem 0.75rem;
        border-block-end: 1px solid rgba(0,0,0,0.2);
    }
    >main{
        padding: 1rem;
    }

    &::backdrop{
        background-color: rgba(0,0,0,0.5);
        backdrop-filter: blur(2px);
    }
}